.idea
.netrc
.vscode
*.json
*.pickle
*.pyc
accounts/*
bot.session
config.env
cookies.txt
data*
docker-compose.yml
downloads
list_drives.txt
log.txt
rclone.conf
rclone/*
terabox.txt
thumbnails/*
user.session